@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 1s;
}

:root {
  --blue1: #0b1127;
  --blue2: #51b4e4;
  --purple1: #444;
}
::-webkit-scrollbar {
  width: 10px;
  right: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-right: 5px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: #bee3ae;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}
